<div class="container_card">
  <div class="card_result">
    <p><strong>Enrolloment Number:</strong> {{ enrolloment }}</p>
    <p><strong>Student Full Name:</strong> {{ student }}</p>
    <p><strong>Course:</strong> {{ course }}</p>
    <p><strong>Mother Full Name:</strong> {{ mother }}</p>
    <p><strong>Father Full Name:</strong> {{ father }}</p>
    <p><strong>Phone:</strong> {{ phone }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Password:</strong> {{ password }}</p>
  </div>

  <div class="card_options">
    <a href=""><img src="../../../assets/icon _edit pencil.svg" alt="update"></a>
    <a
      (click)="copyForClipboard($event)"
    ><img src="../../../assets/icon _copy.svg" alt="copy"></a>
    <a href=""><img src="../../../assets/icon _trash.svg" alt="delete"></a>
  </div>
</div>
