<div class="container_consult">
  <app-return></app-return>
  <div class="consult_alingn">
    <div class="consult-title">
      <app-title title="consult studant"></app-title>
    </div>

    <div class="consult_search">
      <img src="../../../assets/icon _search.svg" alt="search" />
      <input type="text" class="typeSearch" placeholder="search..." [formControl]="queryField"/>
      <button class="buttonSearch" name="search" (click)="search()">Search</button>
    </div>

    <div class="consult_result" *ngIf="consult$ | async as consult; else loading">
      <app-card
        *ngFor="let consult of consult"
        enrolloment= {{consult.id}}
        student="{{consult.student}}"
        course="{{consult.course}}"
        mother="{{consult.mother}}"
        father="{{consult.father}}"
        phone="{{consult.phone}}"
        email="{{consult.email}}"
        password="{{consult.password}}"
      ></app-card>
    </div>

    <ng-template #loading>
      <span>Loading ...</span>
    </ng-template>
  </div>
</div>
