<div class="container_consult">
  <app-return></app-return>
  <div class="consult_alingn">
    <div class="consult-title">
      <app-title title="consult studant"></app-title>
    </div>

    <div class="consult_search">
      <img src="../../../assets/icon _search.svg" alt="search" />
      <input
        type="text"
        class="typeSearch"
        placeholder="search..."
        [formControl]="queryField"
      />
      <button class="buttonSearch" name="search" (click)="search()">
        Search
      </button>
    </div>

    <div
      class="card table-responsive"
      *ngIf="consult$ | async as consult; else loadingNoError"
    >
      <table class="table tableMarginBttm table-bordered tableAlign">
        <thead class="table-secondary">
          <tr>
            <th>Enrolloment</th>
            <th>Student</th>
            <th>Course</th>
            <th>Mother</th>
            <th>Father</th>
            <th>Email</th>
            <th>phone</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody *ngFor="let consult of consult| slice:0:3">
          <tr>
            <td >{{ consult.id }}</td>
            <td>{{ consult.student }}</td>
            <td>{{ consult.course }}</td>
            <td>{{ consult.mother }}</td>
            <td>{{ consult.father }}</td>
            <td>{{ consult.email }}</td>
            <td>{{ consult.phone }}</td>
            <td>
              <span class="card_options">
                <a (click)="onUpdate(consult.id)"
                  ><img
                    src="../../../assets/icon _edit pencil.svg"
                    alt="update"
                /></a>
                <a href=""
                  ><img src="../../../assets/icon _trash.svg" alt="delete"
                /></a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #loadingNoError>
      <div class="container_loadingError" *ngIf="error$ | async; else loading">
        <p>Error loading. Try again later</p>
        <button class="refreshError" (click)="onRefresh()">
          <img src="../../../assets/icon_refresh.png" alt="refresh" />
        </button>
      </div>
      <ng-template #loading>
        <div class="container_loading">
          <p>Loading</p>
          <div class="refreshDouble">
            <img
              class="refreshDouble"
              src="../../../assets/icon _refresh_double.svg"
              alt=""
            />
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
