<div class="container_update">
  <div class="container_return">
    <a [routerLink]="['/consult']">
      <img
        class="return_img"
        src="../../../assets/img-return.svg"
        alt="icon-return"
    /></a>
  </div>
  <div class="update_alingn">
    <div class="update">
      <div class="update_title">
        <app-title title="| Update studant"></app-title>
      </div>

      <form class="needs-validation" novalidate [formGroup]="formUpdate">
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="student">Student Full name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Student Full name"
              formControlName="student"
              [ngClass]="{ 'is-invalid': submitted && hasError('student') }"
            />
            <div
              class="invalid-feedback"
              *ngIf="hasError('student') && hasError('student')['required']"
            >
              Please enter the student name
            </div>
            <div
              class="invalid-feedback"
              *ngIf="hasError('student') && hasError('student')['minlength']"
            >
              student name must be at least
              {{ hasError("student")["minlength"].requiredLength }} characters
              long
            </div>
            <div
              class="invalid-feedback"
              *ngIf="hasError('student') && hasError('student')['maxlength']"
            >
              maximum number of characters in the name is
              {{ hasError("student")["maxlength"].requiredLength }}
            </div>
          </div>

          <div class="col-md-8 mb-3">
            <label for="mother">Mother Full name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Mother Full name"
              formControlName="mother"
              [ngClass]="{ 'is-invalid': submitted && hasError('mother') }"
            />
            <div
              class="invalid-feedback"
              *ngIf="hasError('mother') && hasError('mother')['required']"
            >
              Please enter the mother name
            </div>
            <div
              class="invalid-feedback"
              *ngIf="hasError('mother') && hasError('mother')['minlength']"
            >
              mother name must be at least
              {{ hasError("mother")["minlength"].requiredLength }} characters
              long
            </div>
            <div
              class="invalid-feedback"
              *ngIf="hasError('mother') && hasError('mother')['maxlength']"
            >
              maximum number of characters in the name is
              {{ hasError("mother")["maxlength"].requiredLength }}
            </div>
          </div>

          <div class="col-md-8 mb-3">
            <label for="father">Father Full name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Father Full name"
              formControlName="father"
              [ngClass]="{ 'is-invalid': submitted && hasError('father') }"
            />
            <div
              class="invalid-feedback"
              *ngIf="hasError('father') && hasError('father')['required']"
            >
              Please enter the father name
            </div>
            <div
              class="invalid-feedback"
              *ngIf="hasError('father') && hasError('father')['minlength']"
            >
              Father name must be at least
              {{ hasError("father")["minlength"].requiredLength }} characters
              long
            </div>
            <div
              class="invalid-feedback"
              *ngIf="hasError('father') && hasError('father')['maxlength']"
            >
              Maximum number of characters in the name is
              {{ hasError("father")["maxlength"].requiredLength }}
            </div>
          </div>

          <div class="col-md-8 mb-3 filedSpaceBetween">
            <div class="col-md-3">
              <label for="age">Age</label>
              <input
                type="text"
                class="form-control text-center"
                placeholder="Age"
                formControlName="age"
                [ngClass]="{ 'is-invalid': submitted && hasError('age') }"
              />
              <div
                class="invalid-feedback"
                *ngIf="hasError('age') && hasError('age')['required']"
              >
                Please enter the age
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('age') && hasError('age')['minlength']"
              >
                Age must be at least
                {{ hasError("age")["minlength"].requiredLength }} characters
                long
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('age') && hasError('age')['maxlength']"
              >
                Maximum number of characters in the age is
                {{ hasError("age")["maxlength"].requiredLength }}
              </div>
            </div>

            <div class="col-md-5">
              <label for="course">Course</label>
              <input
                type="text"
                class="form-control text-center"
                placeholder="Course"
                formControlName="course"
                [ngClass]="{ 'is-invalid': submitted && hasError('course') }"
              />
              <div
                class="invalid-feedback"
                *ngIf="hasError('course') && hasError('course')['required']"
              >
                Please enter the course
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('course') && hasError('course')['minlength']"
              >
                Course must be at least
                {{ hasError("course")["minlength"].requiredLength }} characters
                long
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('course') && hasError('course')['maxlength']"
              >
                Maximum number of characters in the course is
                {{ hasError("course")["maxlength"].requiredLength }}
              </div>
            </div>

            <div class="col-md-3">
              <label for="period">Period</label>
              <input
                type="text"
                class="form-control text-center"
                placeholder="Period"
                formControlName="period"
                [ngClass]="{ 'is-invalid': submitted && hasError('period') }"
              />
              <div
                class="invalid-feedback"
                *ngIf="hasError('period') && hasError('period')['required']"
              >
                Please enter the period
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('period') && hasError('period')['minlength']"
              >
                Period must be at least
                {{ hasError("period")["minlength"].requiredLength }} characters
                long
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('period') && hasError('period')['maxlength']"
              >
                Maximum number of characters in the period is
                {{ hasError("period")["maxlength"].requiredLength }}
              </div>
            </div>
          </div>

          <div class="col-md-8 mb-3 filedSpaceBetween">
            <div class="col-md-6">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && hasError('email') }"
              />
              <div
                class="invalid-feedback"
                *ngIf="hasError('email') && hasError('email')['required']"
              >
                Please enter the email
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('email') && hasError('email')['minlength']"
              >
                Email must be at least
                {{ hasError("email")["minlength"].requiredLength }} characters
                long
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('email') && hasError('email')['maxlength']"
              >
                Maximum number of characters in the email is
                {{ hasError("email")["maxlength"].requiredLength }}
              </div>
            </div>

            <div class="col-md-5">
              <label for="phone">Phone</label>
              <input
                type="tel"
                class="form-control"
                placeholder="Phone"
                formControlName="phone"
                [ngClass]="{ 'is-invalid': submitted && hasError('phone') }"
              />
              <div
                class="invalid-feedback"
                *ngIf="hasError('phone') && hasError('phone')['required']"
              >
                Please enter the phone
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('phone') && hasError('phone')['minlength']"
              >
                Phone must be at least
                {{ hasError("phone")["minlength"].requiredLength }} characters
                long
              </div>
              <div
                class="invalid-feedback"
                *ngIf="hasError('phone') && hasError('phone')['maxlength']"
              >
                Maximum number of characters in the phone is
                {{ hasError("phone")["maxlength"].requiredLength }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 containerBtn">
          <button type="submit" (click)="onSubmit()" class="buttonConfirm">
            Update
          </button>
          <button type="submit" (click)="onCancel()" class="buttonCancel">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
