<app-menu></app-menu>

<div class="container_update">

  <div class="container_return">
    <a [routerLink] = "['/consult']"> <img class="return_img" src="../../../assets/img-return.svg" alt="icon-return"></a>
  </div>

  <div class="update_alingn">
    <div class="update">
      <div class="update_title">
        <app-title title="| update studant"></app-title>
      </div>
      <app-field
        type="text"
        skin="typeText"
        placeholder="student full name"
      ></app-field>
      <app-field
        type="text"
        skin="typeText"
        placeholder="mother full name"
      ></app-field>
      <app-field
        type="text"
        skin="typeText"
        placeholder="father full name"
      ></app-field>
      <app-field
        type="text"
        skin="typeText"
        placeholder="enrollment number"
      ></app-field>
      <div class="small_field">
        <app-field
          type="select"
          skin="typeTextSmall"
          placeholder="Age"
        ></app-field>
        <app-field
          type="text"
          skin="typeTextMedium"
          placeholder="Course"
        ></app-field>
        <app-field
          type="text"
          skin="typeTextSmall"
          placeholder="Period"
        ></app-field>
      </div>
      <div class="contact_field">
        <app-field type="email" skin="typeMedium" placeholder="email"></app-field>
        <app-field type="tel" skin="typeMedium" placeholder="phone"></app-field>
      </div>
      <div class="password_field">
        <app-field type="password" skin="typeMedium" placeholder="password"></app-field>
        <app-field type="password" skin="typeMedium" placeholder="confirm password"></app-field>
      </div>
    </div>
    <div class="container_button">
      <app-button
      class="buttonConfirm"
      name="register"
      >
      </app-button>
    </div>
  </div>
</div>
