<div class="container_login">
  <div class="login">
    <div class="login_title">
      <img src="../../../assets/logo _company.svg" alt="logo" />
      <app-title title="| sing in"></app-title>
    </div>
    <div class="login_fields">

      <input [(ngModel)]="user.name"  class="field" type="email" placeholder="Email">
      <input [(ngModel)]="user.password" class="field" type="password" placeholder="Password" >

    </div>
    <div class="login_access">
      <button type="submit" (click)="login()" class="buttonConfirm">Sing In <img src="../../../assets/icon-login-white.svg" alt=""></button>
      <a href="">Forgot password ?</a>
    </div>
  </div>
</div>
