.container_register
  margin: 0 25px 25px 25px;
  min-height: 100vh;
  background-color: #ffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;

.register_alingn
  margin-left: 110px
  display: flex;
  flex-direction: column;


.register_title
  margin: 25px 0

.containerBtn
  display: flex
  justify-content: flex-end
  margin-top: 40px

.buttonConfirm
  background-color: #673AB7;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffff
  text-transform: capitalize

.buttonConfirm:hover
  background-color: #d2d5ea;
  color: #7986CB

.buttonCancel
  background-color: #D32F2F;
  margin-left: 40px
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffff
  text-transform: capitalize

.buttonCancel:hover
  background-color: #d32f2fb3;
  color: #ffffffb4

.filedSpaceBetween
  display: flex
  justify-content: space-between
