.container_button
  button
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;

.backgrounDefault
  background-color: #c2c1c1;

.backgroundActive
  background-color: #673AB7;

.backgroundDelete
  background-color: #D32F2F;

.backgroundCanceled
  background-color: #FFFFFF;