<app-menu></app-menu>

<div class="container_home">
  <div class="alingn_inf">
    <div class="detailed_logo">
      <img src="../../../assets/detailed_logo.svg" alt="detailed_logo" />
    </div>
    <div class="home_title">
      <app-title title="Contacts:"></app-title>
      <div class="home_contacts">
        <p>(Ombudsman) +555 (26) 98712354</p>
        <p>(School) +555 (26) 94687354</p>
        <p>(Technical assistance) +555 (26) 75861254</p>
        <p>(Human Resources) +555 (26) 75861254</p>
      </div>
    </div>
  </div>
  <div class="alert">
    <app-title title="Alert !" skin="urgent"> </app-title>
    <p>
      You, as an employee, must be aware that the information contained here is
      sensitive information and if any type of information leaks or changes, or
      deletes it in bad faith, you will be liable for your act.
    </p>
  </div>
</div>
