<div class="content">
  <div class="container_home">
    <div class="detailed_logo">
      <img src="../../../assets/detailed_logo-white.svg" alt="detailed_logo" />
    </div>
  </div>

  <div class="container_card ">
    <div class="card_home card_mb">TESTE</div>
    <div class="card_home card_mb">TESTE</div>
    <div class="card_home card_contacts">
      <h1>Contacts</h1>
      <div class="card_contacts-content">
        <small>(Ombudsman) <p>+555 (26) 98712327</p></small>
        <small>(School) <p>+555 (26) 94687360</p></small>
        <small>(Technical assistance) <p>+555 (26) 75861289</p> </small>
        <small>(Human Resources) <p>+555 (26) 75861202</p> </small>
      </div>
    </div>
  </div>
</div>
