container_field
  input
    color: #1111;

.typeText
  width: 500px
  padding: 7px 25px;
  margin-top: 12px
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 25px;
  background-color: #c2c1c1;

.typeTextSmall
  width: 120px
  padding: 7px 25px;
  margin-top: 12px
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  border-radius: 25px;
  background-color: #c2c1c1;

.typeTextMedium
  width: 220px
  padding: 7px 25px;
  margin-top: 12px
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  border-radius: 25px;
  background-color: #c2c1c1;

.typePasswordMedium
  width: 240px
  padding: 7px 25px;
  margin-top: 12px
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 25px;
  background-color: #c2c1c1;
