.container_menu
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 25px;
  background-color: #ffff;
  border-radius: 50px;
  height: 50px;

.activated
  border-top: solid 3px #42A5F5;

.logo_menu
  margin: auto;
  margin-left: 80px;

  img
    height: 50px


.nav_menu
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;

.buttonDefault
  background-color: #c2c1c1;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;

.buttonDefault:hover
    background-color: #d2d5ea;

    a
      color: #7986CB


.nav_links

  ul
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-right: 100px;

    li
      padding-right: 40px;
      text-align: center
