<div class="container_menu">
  <div class="logo_menu">
    <a [routerLink]="['/']"
      ><img src="../../../../../assets/logo _company.svg" alt="logo"
    /></a>
  </div>
  <div class="nav_menu">
    <div class="nav_links">
      <ul>
        <li>
          <a
            [routerLink]="['/register']"
            [routerLinkActive]="['activated']"
            [routerLinkActiveOptions]="{exact:true}">
          Register</a></li>
        <li>
          <a
            [routerLink]="['/consult']"
            [routerLinkActive]="['activated']"
            [routerLinkActiveOptions]="{exact:true}">
          Consult</a></li>
      </ul>
    </div>
    <div>
      <app-button name="logout" class="buttonDefault"></app-button>
    </div>
  </div>
</div>
